@model IEnumerable<Veterinary.Models.Owner>

<div class="row">
	<h1 class="col">Your Clients</h1>
	<div class="col-1 p-0">
		<a asp-controller="Vet" asp-action="AddClient" class="btn btn-primary">Add Client</a>
	</div>
</div>
<div class="container p-0">
	@{
		if (Model==null)
		{
				<h2>You don't have any registered clients.</h2>
		}
		else
		{
		@foreach(var obj in Model)
	{
			<div class="card mt-3">
  	<div class="card-body fs-3"> 
	  	<div style="transform: rotate(0)">
		<h5 class="card-title fs-2">@obj.Name @obj.Surname</h5>
		<h6 class="card-subtitle mb-2 text-muted fs-2">@obj.Email</h6>
		<p class="card-text">Your client since @obj.CreatedDate.Date.ToString("dd/MM/yyyy")</p>
		<a asp-controller="Vet" asp-action="GetPets" asp-route-id="@obj.OwnerId" class="stretched-link"></a>
  	</div>
  	<a asp-controller="Vet" asp-action="AddPet" asp-route-id="@obj.OwnerId" class="btn btn-secondary">Add Pet</a>
  	<a asp-controller="Vet" asp-action="Remove" asp-route-id="@obj.OwnerId" class="btn btn-danger">Remove</a>
  	</div>
	</div>
	}
		}
		}
</div>